@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 10px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
list-style-type: none;
}

a:link {
  text-decoration: none;
  color: rgb(93, 87, 87);
}

a:visited {
  text-decoration: none;
  color:  rgb(93, 87, 87);
}

a:hover {
  color:  rgb(93, 87, 87);
}

a:active {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: lightgray;
  flex: 0 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.left-links {
  display: flex;
  gap: 10px;
}

.right-links {
  display: flex;
  gap:10px; 
}